@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
:root {
  --warna : radial-gradient(ellipse at 0% 100%, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
                        linear-gradient(to top, rgba(57,173,219,0.25) 0%, rgba(42,60,87,0.4) 100%),
                        linear-gradient(135deg, #19325a 0%, #bac5db 100%);
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #FEF;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff,#fdbe00,#FFF);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(3vw - 6px);
  height: calc(3vw - 6px);
  background: #FFF;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: #ffcc32;
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  background: var(--warna);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 3px 10PX rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: #fcce46;
  font-family: 'Exo', sans-serif;
}

#loginForm
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .inputBox input 
{
  position: relative;
  width: 100%;
  background: rgb(206, 205, 205);
  border: none;
  outline: none;
  padding: 25px 5px 7.5px;
  border-radius: 4px;
  color: #000;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #000000;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .inputBox input:focus ~ i,
.signin .content .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #000000;
}

button[type="submit"]
{
  border: none;
  width: 100%;
  border-radius: 20px;
  padding: 8px;
  background:#fcce46;
  color: #202020;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button[type="submit"]:hover
{
  transform: translateY(-0.25em);
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}