main {
    display: flex;
    padding-top: 3rem;
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .mainbar {
    flex: 8;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 200px; /* Match the sidebar width */
  }
  
  .maintop {
    height: 40px;
    color: #ffffff;
    padding: 10px;
    font-size: 1.25rem;
    background: var(--warna);
    border-radius: 8px;
  }
  